.righte {
    padding: 2%;
    margin-top: 4%;
    
}
.lefte {
    padding: 2%;
    margin: 2%;
}
section {
    content: "";
    display: table;
    clear: both;
}
.bte {
    position: relative;
    top: 0%;
    left: 0%;
}
h1 {
    text-align: center;
    text-transform: capitalize;
    color: #605f5f;
    font-family: "Lucida Console", "Courier New", monospace;
  }
h2 {
    text-align: justify;
    text-transform: capitalize;
    color: #af564c;
    font-family: "Lucida Console", "Courier New", monospace;
  }
  h3 {
    margin-left: 5%;
    text-align: left;
    text-transform: lowercase;
    color: #919191;
    font-family: "Lucida Console", "Courier New", monospace;
  }
  .h3 {
    margin-left: 5%;
    text-align: left;
    text-transform: capitalize;
    color: #919191;
    font-family: "Lucida Console", "Courier New", monospace;
  }